* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #556575; */
}

:root {
    --primary-color: #425466;
    --blue-color: #4c6fff;
}

body {
    color: #425466;
}

body::-webkit-scrollbar {
    display: none;
}

.active {
    /* background-color: #fbfbfb; */
    border-left: 3px solid var(--blue-color);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: var(--blue-color) !important;
}
