/* @import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



.all_employee_table {
    width: 100%;
    display: flex;
    justify-content: start;
  }
    
  table {
    border: 1px solid rgb(64 64 64);
  }
    
  th {
    border-bottom: 1px solid rgb(64 64 64);
    text-align:left;
  }

  tbody tr{
    border-bottom: 1px solid rgb(64 64 64);
  }
    
   */

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #556575; */
}

:root {
    --primary-color: #425466;
    --blue-color: #4c6fff;
}

body {
    color: #425466;
}

body::-webkit-scrollbar {
    display: none;
}

.active {
    /* background-color: #fbfbfb; */
    border-left: 3px solid var(--blue-color);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: var(--blue-color) !important;
}
